.myTable {
  border: 1px solid #595959;
  border-collapse: collapse;
}
.myTable td,
.myTable th {
  border: 1px solid #595959;
  border-collapse: collapse;
  width: 30px;
  height: 25px;
}

.myTable .que {
  width: 300px;
}
.myTable .ans {
  width: 300px;
}

.table_inputs {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  outline: none;
  border: none;
}

textarea {
  margin-top: 1px;
}
