.initiate > .box {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 1em;
}

.title {
  font-size: 20px;
  color: blue;
  padding-bottom: 0.5em;
  border-bottom: 2px solid blue;
}

.dummy {
  margin-top: 1em;
}
