.myTable {
  border: 1px solid #595959;
  border-collapse: collapse;
}
.myTable td,
.myTable th {
  border: 1px solid #595959;
  border-collapse: collapse;
  padding: 3px;
  width: 30px;
  height: 25px;
}

.myTable .que {
  width: 300px;
}
.myTable .ans {
  width: 300px;
}
