.myTable {
  border: 1px solid #595959;
  border-collapse: collapse;
}
.myTable td {
  border: 1px solid #595959;
  border-collapse: collapse;
  padding: 3px;
  width: 30px;
  height: 25px;
}

.myTable th {
  border: 1px solid #595959;
  border-collapse: collapse;
  padding: 3px;
  width: 30px;
  height: 25px;
}

.myTable .que {
  width: 400px;
}
.myTable .ans {
  width: 400px;
}

.document-container input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
select {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
