*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  border: 2px solid black;
}

.inner-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.main-content {
  background-color: #eee;
  width: 100%;
  height: 100%;
  padding: 2em 1em;
}

.top-bar {
  width: 100%;
  height: 8vh;
  background-color: #0288d1;
}
